/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 19, 2022, 10:56:34 PM
    Author     : Shihab Ahmad
*/
.root {
  -dark                        : #27292D;
  -standard                    : #005555;
  -bright                      : #DF5B5B;
  -text-color                  : #DF5B5B;
  -highlight-effect            : dropshadow(two-pass-box, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
  -fx-background               : #DF5B5B;
  -fx-base                     : -standard;
  -fx-font-family              : "Roboto Light";
  -fx-font-size                : 12px;
  -fx-font-weight              : lighter;
  -fx-selection-bar            : -standard;
  -fx-selection-bar-non-focused: derive(-standard, 20%);
}

.button1{
  -fx-text-fill        : -text-color;
  -fx-outer-border     : linear-gradient(to bottom, derive(-standard, 30%) 0%, derive(-standard, -30%) 100%);
  -fx-inner-border     : derive(-bright, 10%);
  -fx-body-color       : -bright;
  -fx-border-color     : transparent;
  -fx-border-radius    : 0;
  -fx-background-insets: 0,0,0,1 0 0 0;
  -fx-padding          : 10 15 10 15;
  -fx-font-family      : "Roboto Light";
  -fx-font-size        : 16px;
  -fx-font-style       : normal;
  -fx-font-weight      : lighter;
  -fx-effect           : dropshadow(two-pass-box, rgba(0, 0, 0, 0.3), 2, 0, -2, 2);
}
.button {
    -fx-font-weight: bold;
    -fx-background-color: #143F6B;
    -fx-background-radius: 13;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: #F55353;
    -fx-font-size: 16;
    -fx-text-fill: #000000;
    -fx-border-radius: 13;
    -fx-border-width: 3;
}

.button:pressed {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-font-size: 16;
    -fx-text-fill: #000000;
    -fx-border-radius: 13;
    -fx-border-width: 3;
    -fx-rotate: 10;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: black, red, red, red;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: #A1E3D8;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}